[submodule "PicShareClient_iOS/lib/ASIHTTPRequest"]
	path = PicShareClient_iOS/lib/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "PicShareClient_iOS/lib/SDWebImage"]
	path = PicShareClient_iOS/lib/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "PicShareClient_iOS/lib/MBProgressHUD"]
	path = PicShareClient_iOS/lib/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "PicShareClient_iOS/lib/JSONKit"]
	path = PicShareClient_iOS/lib/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "PicShareClient_iOS/lib/GPUImage"]
	path = PicShareClient_iOS/lib/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
