[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "GPUImage"]
	path = GPUImage
	url = https://github.com/BradLarson/GPUImage.git
