.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
static_sample/
PicShareClient_iOS/GPUImage/
PicShareClient_iOS/lib/
PicShareServer/testMedia/
PicShareServer/data.db
*.pyc
*.sublime-project
*.sublime-workspace
*.komodoproject
