<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>图话-搜索</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
	<style type="text/css">
		img{
			max-width:200px;
		}
		 html, body {
	        background-color: #eee;
	      }
	      body {
	        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	      }
	</style>
</head>
<body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">图话</a>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="用户名">
            <input class="input-small" type="password" placeholder="密码">
            <button class="btn" type="submit">登录</button>
            <a href="#">注册</a>
          </form>
        </div>
      </div>
    </div>
	<div id="container" class="container clearfix">
		<ul class="media-grid">
			{% for psUrl in pictureInfoList %}
			<li class="box">
		    	<a href="#" title="Stanley by Dave DeSandro, on Flickr"><img src="{{psUrl}}" alt="Stanley" /></a>
			</li>
			{% endfor %}
		</ul>
	   
	</div> <!-- #container -->
	<script>
	  $(function(){

	    var $container = $('#container');
	  
	    $container.imagesLoaded( function(){
	      $container.masonry({
	        itemSelector : '.box'
	      });
	    });
	  
	  });
	</script>
</body>
</html>