<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
	<style type="text/css">
		img{
			max-width:200px;
		}
		 html, body {
	        background-color: #eee;
	      }
	      body {
	        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	      }
	</style>
</head>
<body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">图话</a>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="用户名">
            <input class="input-small" type="password" placeholder="密码">
            <button class="btn" type="submit">登录</button>
            <a href="#">注册</a>
          </form>
        </div>
      </div>
    </div>
	<div id="container" class="container clearfix">
		<ul class="media-grid">
			{% for ps in pictures %}
			<li class="box">
		    	<a href="#" title="Stanley by Dave DeSandro, on Flickr"><img src="{{ps.picture.image}}" alt="Stanley" /></a>
			</li>
			{% endfor %}
			<li class="box">
		    	<a href="http://www.flickr.com/photos/nemoorange/5013039885/" title="Officer by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4131/5013039885_0d16ac87bc.jpg" alt="Officer" /></a>
			</li>
			<li class="box">
		    	 <a href="http://www.flickr.com/photos/nemoorange/5013039583/" title="Tony by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4086/5013039583_26717f6e89.jpg" alt="Tony" /></a>
			</li>
			<li class="box">
		    	<a href="http://www.flickr.com/photos/nemoorange/5013646070/" title="Kendra by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4146/5013646070_f1f44b1939.jpg" alt="Kendra" /></a>
			</li>
			<li class="box">
		    	<a href="http://www.flickr.com/photos/nemoorange/5013039541/" title="Giraffe by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4144/5013039541_17f2579e33.jpg" alt="Giraffe" /></a>
			</li>
			<li class="box">
		    	 <a href="http://www.flickr.com/photos/nemoorange/5013039741/" title="Gavin by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Gavin" /></a>
			</li>
			<li class="box">
		    	 <a href="http://www.flickr.com/photos/nemoorange/5013039697/" title="Anita by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg" alt="Anita" /></a>
			</li>
			<li class="box">
		    	<a href="http://www.flickr.com/photos/nemoorange/5013646314/" title="Take My Portrait by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4124/5013646314_c7eaf84918.jpg"   alt="Take My Portrait" /></a>
			</li>
			<li class="box">
		    	<a href="http://www.flickr.com/photos/nemoorange/5013040075/" title="Wonder by Dave DeSandro, on Flickr"><img src="http://farm5.static.flickr.com/4089/5013040075_bac12ff74e.jpg" alt="Wonder" /></a>
			</li>
		</ul>
	   
	</div> <!-- #container -->
	<script>
	  $(function(){

	    var $container = $('#container');
	  
	    $container.imagesLoaded( function(){
	      $container.masonry({
	        itemSelector : '.box'
	      });
	    });
	  
	  });
	</script>
</body>
</html>